{% extends "index.html" %}
{% block title %}MHC Robotics | Home{% endblock %}

{% block nav %}
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gallery">Gallery</a>
      </li>
{% endblock %}

{% block content %}
    <div class="mt-5 mb-3">
        <span class="h3 text-muted mr-4 align-middle">Robot Status: </span>
        <button onclick="refresh()" class="btn btn-primary">Refresh</button>
    </div>
    <div class="alert alert-danger" hidden>
      <strong>Error! </strong><span id="error"></span>
    </div>
    <div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Time</th>
                    <th>IP</th>
                    <th>Actions</th>
                    <th>Input</th>
                    <th>Submit</th>
                </tr>
            </thead>
            <tbody>
                {% for robot in activeRobots %}
                    <tr>
                        <td>{{robot.name}}</td>
                        <td>{{robot.time}}</td>
                        <td>{{robot.ip}}</td>
                        <td>
                            <select class="form-control" id="{{robot.id}}-action">
                                {% for action in robot.type.get_actions%}
                                <option>{{action}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <form id="{{robot.id}} {{robot.name}}">
                            <textarea class="form-control" rows="1" name="input"></textarea>
                            </form>
                        </td>
                        <td>
                            <button type="submit" form="{{robot.id}} {{robot.name}}" class="btn btn-primary">Submit</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="mt-5 mb-3">
        <span class="h3 text-muted mr-4 align-middle">Inactive Robots:</span>
    </div>
    <div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Time</th>
                    <th>IP</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for robot in inactiveRobots %}
                    <tr>
                        <td>{{robot.name}}</td>
                        <td>{{robot.time}}</td>
                        <td>{{robot.ip}}</td>
                        <td>
                            <select class="form-control" id="{{robot.id}}-action">
                                {% for action in robot.type.get_actions%}
                                <option>{{action}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}