{% extends "index.html" %}
{% block title %}MHC Robotics | {{robot.name}}'s Gallery{% endblock %}

{% block nav %}
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gallery">Gallery</a>
      </li>
{% endblock %}

{% block content %}
<div class="mt-5 mb-3">
    <span class="h3 text-muted mr-4 align-middle">{{robot.name}}'s Gallery: </span>
</div>
<div class="row">
    {% for image in robot.type.gallery.all reversed %}
      <div class="col-md-6 p-2">
        <img class="w-100 img-fluid img-thumbnail" src="{{MEDIA_URL}}{{image.image}}" class=" img-responsive" />
        <p class="text-center">{{image.timestamp}}</p>
      </div>
    {% endfor %}
</div>
{% endblock %}